/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */

.form-data {
    justify-content: center!important;
    text-align: center;
    align-items: center!important;
}
.form-input {
    text-align: left !important;
    width: 500px !important;
    height: auto !important;
}
.no-data{
    color : #AAAAAA !important    
}

